/* || General setup */

  html, body {
    margin:30px;
    padding: 0;
    font-size: 20px;
    background-color: #ffffff;
    
  }
  a{
    margin: 20px;
  } 

  h1{
    text-align: center;
  }

  h2{
    text-align: center;

  }
  
  /*
  html {
    font-size: 22px;
    background-color: #ffffff;
    width: 80%;
  }
  
  body {
    width: 80%;
    margin: 0 auto;
  }




table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
  text-align: center;
}

nav, article, aside, footer {
    background-color: white;
    padding: 1%;
  }



main {
    display: flex;
  }
  
  article {
    flex: 4;
    display: grid;
    columns: 2;
  }
  
  aside {
    flex: 1;
    margin-left: 10px;
    background-color: #e4e4e4;
  }
  
  aside li {
    padding-bottom: 10px;
  }
  
  footer {
    margin-top: 10px;
  }

  table#world_table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }

  canvas{
    
		-moz-user-select: none;
		-webkit-user-select: none;
    -ms-user-select: none;
    align-content: center;
  } 
  
  h1{
    text-align: center;
  }

  h2{
    text-align: center;

  }

  button{
    display: flex;
    border-width: 2;
    box-shadow: inset;
    
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
  }
  a{
    margin: 10px;
  } 
  */
